/* global.css */
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}
.overflow-x-auto {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-custom::-webkit-scrollbar {
  height: 8px;
}
.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}
.scrollbar-custom::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}
